<!doctype html>
<html>

<link href="/public/stylesheets/home.css" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/rating.css" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/challenges.css" rel="stylesheet" type="text/css">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>

<section class="home" id="home">
    <div class="home-content">
        <h2>Jase: Mobile App </h2>
        <p> Challenge your friends to an epic battle outside!</p>
        <div class="app-buttons">
            <a href="/" tabIndex="0"><img class="appstore-button" src="/public/images/appstore-button.svg"alt="appstore-button"/></a>
          <a href="/" tabIndex="0"><img class="playstore-button" src="/public/images/playstore-button.png" alt="playstore-button"/></a>

        </div>
    </div>
    <img src="/public/images/mockup.png" alt="example screen from the app JASE" class="mockup">


    
</section>


<section class="rating" id="rating">
    <h2 lang="en">Others said</h2> 
    <br> 
    <button class="prev">
        <i class="fa-solid fa-less-than"></i>
    </button>
    <div class="slider-container">

        <div class="slider">
            <% ratings.forEach(function(rating) { %>
                <div class="slider-col">
                    <h3 lang="en">"<%= rating.quote %>"</h3>
                    <p lang="en">- <%= rating.author %></p> 
                    <div class="rating-icons">
                        <% for(let i = 1; i <= 5; i++) { %>
                            <% if (i <= rating.stars) { %>
                                <i class="fa fa-star" alt="star icon"></i>
                            <% } else if (i - rating.stars === 0.5) { %>
                                <i class="fa-regular fa-star-half-stroke" alt="half star icon"></i>
                            <% } else { %>
                                <i class="fa-regular fa-star" alt="empty star icon"></i>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="slider-indicators"></div>



    </div>
    <button class="next">
        <i class="fa-solid fa-greater-than"></i>
    </button>
</section>


<script src="/lib/slider.js"></script>



       

       <div class="section-divider"></div>
       <h2>Try out here!</h2>
       <section class="challenges" id="challenges">

        <div class="iphone-mockup">
            <div class="iphone-screen">
                <img src="/public/images/logo.jpeg" alt="Jase logo" class="iphone-screen-logo">
                <p class="challenge-name"></p>
                <p class="challenge-description"></p>
                <button class="neon-button">
                    <span class="neon-button-text">
                         Get New Challenge</span>
                </button>
            </div>
        </div>
    </section>

    <script src="/lib/get-challenges.js"></script>





</body>

<%- include('includes/footer') %>

</html>
