<!doctype html>
<html>

<link rel="stylesheet" href="/stylesheets/feedback.css">


<%- include('includes/head') %>



<body>

    <%- include('includes/navbar') %>

    <section class="feedback" id="feedback">

    <div class="feedback-content">

    <h2>Feedback</h2>

    <div class="feedback-options">

        <h3>Give us feedback</h3>
        <h3>Submit your challenge idea</h3>
    </div>

    <div class="feedback-post">

        <div class="feedback-col">

            <p>Your opinion matters to us!</p>
            <form class="feedback-post-content" action="/feedback" method="POST">
    
                <textarea class="field-text" lang="en" placeholder="Give us your feedback" name="text"></textarea>

                <button class="nav-neon-button" id="login-button">
                    <span class="nav-neon-button-text">
                         Submit</span>
                  </button>
                
            </form>
        </div>

    </div>

    <div class="feedback-messages">
        <% feedback.forEach(function(item) { %>
            <div class="feedback-col">
                <p>"<%= item.message %>" - <%= item.author ? item.author : 'Anonymous' %></p>
            </div>
        <% }); %>
    </div>
    

</div>


    </section>


</body>

<%- include('includes/footer') %>

</html>
