<!doctype html>
<html>

<link rel="stylesheet" href="/stylesheets/landingpage/home.css">
<link rel="stylesheet" href="/stylesheets/landingpage/rating.css">
<link rel="stylesheet" href="/stylesheets/landingpage/benefits.css">



<%- include('includes/head') %>



<body>

    <%- include('includes/navbar') %>
    <section class="home" id="home">
        <div class="home-content">
            <h2>Challenge your friends to an epic battle outside!</h2>
            <div class="app-buttons">
                <a href="/" tabIndex="0"><img class="appstore-button" src="/images/appstore-button.svg" alt="appstore-button"/></a>
                <a href="/" tabIndex="0"><img class="playstore-button" src="/images/playstore-button.png" alt="playstore-button"/></a>
            </div>

        </div>
        <div class="iphone-mockup">
            <div class="iphone-screen">
                <img src="/images/logo.jpeg" alt="Jase logo" class="iphone-screen-logo">
                <p class="challenge-name"></p>
                <p class="challenge-description"></p>
                <button class="neon-button" id="get-challenge-button">
                    <span class="neon-button-text">Get New Challenge</span>
                </button>
            </div>
        </div>
    </section>

<section class="benefits" id="benefits">
    <h2 lang="en">Why you should play</h2> 
    <br> 
    <div class="benefits-container">
        <% benefits.forEach(function(benefit) { %>
        <div class="benefits-col">
            <i class="fa-solid <%= benefit.icon %>"></i>
            <h3 lang="en"><%= benefit.name %></h3>
            <p lang="en"><%= benefit.description %></p> 
        </div>
        <% }); %>
    </div>
</section>

<section class="how-it-works" id="how-it-works">
    <h2 class="how-it-works-title">How it Works</h2>

    <div class="step-box">
        <div class="step-count">
            <h2>1</h2>
        </div>
        <div class="step-text">
            <h3 class="step-title ">Start the Game</h3>
            <p>- Get together with your friends and create two teams.</p>
            <p>- Decide how long you want to play and start the adventure!</p>
            <p>- Each team will get different challenges on their phone and get to work!</p>
        </div>

    </div>

    <div class="step-box reverse">

        <div class="step-count">
            <h2>2</h2>
        </div>
        <div class="step-text">
            <h3 class="step-title ">Complete Challenges</h3>
            <p>- Once you finish a challenge, take a picture or video to prove you did it.</p>
            <p>- Remember, at the end of the game your opponent will see them.</p>
        </div>

    </div>

    <div class="step-box">
        <div class="step-count">
            <h2>3</h2>
        </div>
        <div class="step-text">
            <h3 class="step-title ">Run Against Time</h3>
            <p>- Do as many challenges as you can before the time is up.</p>
            <p>- But remember to have fun and enjoy!</p>
        </div>

    </div>

    <div class="step-box reverse">
        <div class="step-count">
            <h2>4</h2>
        </div>
        <div class="step-text">
            <h3 class="step-title ">Find the winning team</h3>
            <p>- If you can, meet with the other team and see how their game went!</p>
            <p>- Decide if the provided evidence is enough to confirm the challenges</p>
            <p>- Team who finished more challenges wins the game!</p>
        </div>

    </div>
</section>
    

    <section class="rating" id="rating">
        <h2 lang="en">Others said</h2> 
        <br> 
        <button class="prev">
            <i class="fa-solid fa-less-than"></i>
        </button>
        <div class="slider-container">
    
            <div class="slider">
                <% ratings.forEach(function(rating) { %>
                    <div class="slider-col">
                        <h3 lang="en">"<%= rating.quote %>"</h3>
                        <p lang="en">- <%= rating.author %></p> 
                        <div class="rating-icons">
                            <% for(let i = 1; i <= 5; i++) { %>
                                <% if (i <= rating.stars) { %>
                                    <i class="fa fa-star" alt="star icon"></i>
                                <% } else if (i - rating.stars === 0.5) { %>
                                    <i class="fa-regular fa-star-half-stroke" alt="half star icon"></i>
                                <% } else { %>
                                    <i class="fa-regular fa-star" alt="empty star icon"></i>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
    
            <div class="slider-indicators"></div>
    
    
    
        </div>
        <button class="next">
            <i class="fa-solid fa-greater-than"></i>
        </button>
    </section>



    <script src="js/get-challenges.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/animations.js"></script>





</body>

<%- include('includes/footer') %>

</html>
