<!doctype html>
<html>

<%- include('../includes/head') %>

<link rel="stylesheet" href="/stylesheets/auth/profile.css">

<body>

    <%- include('../includes/navbar') %>

    <section class="profile" id="profile">

    <h2><%= username %></h2>

    <img src=" <%= pb_path%> " alt="Your profile picture" class="profile-picture">

    <p><%= email %></p>

    <p><%= games_played %></p>
    <p><%= games_won %></p>



    </section>



</body>

<%- include('../includes/footer') %>

</html>
