<!doctype html>
<html>

<%- include('../includes/head') %>

<link rel="stylesheet" href="/stylesheets/auth/profile.css">

<body>

    <%- include('../includes/navbar') %>

    <section class="profile" id="profile">

    <h2><%= username %></h2>

    <p><%= email %></p>

    <img src=" <%= pb_path%> " alt="Your profile picture" class="profile-picture">

    
    <p> <i class="fa-solid fa-gamepad"></i></i>Games played: <%= games_played %></p>
    <p><i class="fa-solid fa-trophy"></i>Games won: <%= games_won %></p>




    </section>



</body>

<%- include('../includes/footer') %>

</html>
